@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
     font-size: 11px; text-align: center; 
     margin: 0;
     font-family: Montserrat, sans-serif;
     color: hsl(228, 12%, 48%);
     font-size: 14px;
    }

body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

a 
{ color: hsl(228, 45%, 44%); 
}

main {
    background-color: #fff;
    display:flex;
    flex-direction:row;
    border-radius: 20px;
    width: 600px;
}

.image {
    background: url(images/image-product-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    flex:1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 40px;
   } 

.info {
    flex: 1;
    padding: 30px;
} 

p {
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.5;
}

h1 {
    font-family: Fraunces, serif;
    font-size: 3em;
    color: #000;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 9pt;
    text-align: left;

}

.price {
    font-family: Fraunces, serif;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
    text-align: left;
    display: inline;
    padding: 25px;
}

.old-price {
    text-decoration: line-through;
    display: inline;
    margin-right: 0;
}


.attribution {
    position: fixed bottom;
}

button {
 background-color: hsl(158, 36%, 37%);
 display: block;
 padding: 15px;
 border: 0;
 width: 100%;
 border-radius: 5px;
 color: #fff;
 font-size: 1.2em;
 font-weight: 700;
 margin-top: 20px;
}


@media only screen and (max-width: 600px) {

    main {
        display:block;
        max-width: 90%;
    }

       .image {
        background: url(images/image-product-mobile.jpg);
        height:400px;
        background-repeat: no-repeat;
        background-size: contain;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
       }
  }